<div class="main-div">
    <mat-toolbar class="toolbar-custom" color="primary">
        <span>
            <mat-icon>menu_book</mat-icon> Menú
        </span>

        <div class="spacer"></div>

        <a mat-button class="toolbar-button">Funcionario</a>
        <a mat-button class="toolbar-button">Solicitud</a>
        <a mat-button class="toolbar-button">Avance</a>
        <a mat-raised-button color="accent" class="toolbar-button" (click)="logOut()">Cerrar sesión</a>
    </mat-toolbar>
</div>