<app-nav-bar></app-nav-bar>
<div class="child-div">
    <div class="content-div">
        <h1>Solicitudes por rango de fechas</h1>

        <div class="date-div">
            <mat-form-field class="date-form-field" floatLabel="never">
                <mat-label>Ingrese un rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker" required>
                    <input matStartDate placeholder="Fecha inicio" [(ngModel)]="fechaRango1">
                    <input matEndDate placeholder="Fecha fin" [(ngModel)]="fechaRango2">>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="search()"><span class="material-icons">search</span>
                Buscar por fechas</button>
        </div>

        <div class="search-div">
            <mat-form-field class="custom-search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button name="pdfButton" (click)="downloadAsPdf()"><span
                    class="material-icons">picture_as_pdf</span></button>
        </div>
        <div class="table-div">
            <table mat-table [dataSource]="dataSource" matSort class="data-table">

                <ng-container matColumnDef="IdSolicitud">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Solicitud </th>
                    <td mat-cell *matCellDef="let element"> {{element.IdSolicitud}} </td>
                </ng-container>

                <ng-container matColumnDef="NombreProyecto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del proyecto </th>
                    <td mat-cell *matCellDef="let element"> {{element.NombreProyecto}} </td>
                </ng-container>

                <ng-container matColumnDef="FechaHora">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaHora}} </td>
                </ng-container>

                <ng-container matColumnDef="NombreCompleto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Funcionario </th>
                    <td mat-cell *matCellDef="let element"> {{element.NombreCompleto}} </td>
                </ng-container>

                <ng-container matColumnDef="FechaInicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaInicio}} </td>
                </ng-container>

                <ng-container matColumnDef="FechaFin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaFin}} </td>
                </ng-container>

                <ng-container matColumnDef="Terminado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{checkState(element.Terminado)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[10, 15, 20]" [pageSize]="10" showFirstLastButtons
                aria-label="Seleccione página"></mat-paginator>
        </div>

    </div>
</div>