<app-nav-bar></app-nav-bar>
<div class="child-div">
    <div class="content-div">
        <h1>Bitácora de transacciones por rango de meses</h1>

        <div class="date-div">
            <mat-form-field class="date-form-field" floatLabel="never">
                <mat-label>Mes inicial</mat-label>
                <mat-select [(ngModel)]="mesRango1" required>
                    <mat-option *ngFor="let item of meses" [value]="item.valor">{{item.mes}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="date-form-field" floatLabel="never">
                <mat-label>Mes final</mat-label>
                <mat-select [(ngModel)]="mesRango2" required>
                    <mat-option *ngFor="let item of meses" [value]="item.valor">{{item.mes}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="search()"><span class="material-icons">search</span>
                Buscar por meses</button>
        </div>

        <div class="search-div">
            <mat-form-field class="custom-search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button name="pdfButton" (click)="downloadAsPdf()"><span
                class="material-icons">picture_as_pdf</span></button>
        </div>
        <div class="table-div">
            <table mat-table [dataSource]="dataSource" matSort class="data-table">

                <ng-container matColumnDef="IdBitacoraAuditoria">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Bitácora Auditoría </th>
                    <td mat-cell *matCellDef="let element"> {{element.IdBitacoraAuditoria}} </td>
                </ng-container>

                <ng-container matColumnDef="TransaccionDescripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaccion </th>
                    <td mat-cell *matCellDef="let element"> {{element.TransaccionDescripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="Descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="NombreCompleto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
                    <td mat-cell *matCellDef="let element"> {{element.NombreCompleto}} </td>
                </ng-container>

                <ng-container matColumnDef="FechaHora">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaHora}} </td>
                </ng-container>

                <ng-container matColumnDef="IdSolicitud">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Solicitud </th>
                    <td mat-cell *matCellDef="let element"> {{element.IdSolicitud}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[10, 15, 20]" [pageSize]="10" showFirstLastButtons
                aria-label="Seleccione página"></mat-paginator>
        </div>

    </div>
</div>