tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: greenyellow;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.inner-table {
  width: 100%;
  border: 5px;
  margin-bottom: 25px;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.mat-row:nth-child(2n+1){
  background-color: #f6f8f8;
}

.mat-row:not(:nth-child(4n+1)){
  background-color:#D6e5ea;
}

.child-row {
  background-color: #D6e5ea;
}

.child-header {
  background-color: #f6f8f8;
}